<div>

<div>
<h1 style = "color:blue;">All Posts</h1> 

<br> 

<% if current_user %> 
<div style="display:flex; flex-direction:row">
Logged in as:<b> <%= @user.email %> |  </b> 
<br><br>
<%= button_to "Sign-out" , destroy_user_session_path, method: :delete %> 

<% if current_user.provider == nil %> 
</div>
<%= link_to "Edit" , edit_user_registration_path%> 
<hr>
<% end %>
<% elsif %>
Already a user?
<%= link_to "Sign-in" , new_user_session_path %> 
| 
New User?
<%= link_to "Sign-up" , new_user_registration_path %>
<% end %>

</div>



  <% @posts.each do |post| %>
    <div id="posts">
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    </div>
    <hr>
  <% end %>

  <br>

  <%= paginate @posts %>

  <br>
<%= link_to "New post", new_post_path %>

</div>