<div>

<h1>All Users</h1>

<% @users.each do |user| %>
    <p>
    <strong>Name:</strong>
    <%= user.name %>
    </p>

    <p>
        <strong>Address:</strong>
        <%= user.address %>
    </p>

    <p>
        <strong>Phone:</strong>
        <%= user.phone %>
    </p>

    <%= link_to("Show User", user_path(user.id)) %>
    <hr>

<% end %>

<br><br>
<%= link_to "Search By Id", "users/search" %>
<br><br>
<%= link_to "New user", new_user_path %>

</div>