<p style="color: green"><%= notice %></p>

  <!-- <%= render @user %> -->

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
